<div class="contentido" style="background-color: rgba(29, 2, 2, 0.3);">
    <div class="container">

        <img src="./../../../assets/img/pedestrians.jpg" class="img-contenido img-fluid" alt="No carga...">

        <div class="texto-medio">
            <div class="row  mt-5">
                <div class="col-6">
                    <h1 class="display-3"> Bienvenido a Bogotá-e</h1>
                </div>
                <div class="col-6 mt-3">
                    <p>Un espacio de encuentro para la comunidad empresarial de Bogotá</p>
                    <button class="btn btn-info btn-trans">Conocer más</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <div class="container">
        <div class="texto-blue mt-5">
            <div class="row">
                <div class="col-6 mt-1">
                    <h2> Bogotá-e</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nulla consectetur harum alias ipsa repellat eligendi cupiditate fuga quia! Facere culpa voluptates sit at blanditiis molestiae</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-4 mt-1">
                    <img style="z-index: auto;" src="./../../../assets/img/light.jpg" class="img-info img-fluid" alt="No carga...">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="registro mt-4">
    <div class="container">

        <h4 class="text-primary">Registro emprendedor</h4>
        <p>Write somenthing in this area.</p>

        <form [formGroup]="myForm" autocomplete="off">
            <div class="row">
                <div class="col-6">

                    <div class="mb-3">
                        <label class="form-label">Nombres</label>
                        <input class="form-control" type="text" matInput formControlName="name" [class]="isValidField('name')">
                        <div class="invalid-feedback">
                            <span *ngIf="myForm.get('name').errors ?.required">
                                Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Emprendimiento</label>
                        <input class="form-control" type="text" matInput formControlName="entrepreneurship" [class]="isValidField('entrepreneurship')">
                        <div class="invalid-feedback">
                            <span *ngIf="myForm.get('name').errors ?.required">
                                Campo requerido
                            </span>
                        </div>

                    </div>
                    <div class=" mb-3 ">
                        <label class="form-label ">Correo electronico</label>
                        <input class="form-control " type="email " matInput formControlName="email" [class]="isValidField( 'email')">
                        <div class="invalid-feedback">
                            <span *ngIf="myForm.get('email').errors ?.required">
                                Campo requerido
                            </span>
                            <span *ngIf="myForm.get('email').errors ?.pattern">
                                Ingrese un correo electronico valido
                            </span>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input class="form-control" type="text" matInput formControlName="phone" [class]="isValidField('phone')">
                        <div class="invalid-feedback">
                            <span *ngIf="myForm.get('phone').errors ?.required">
                                Campo requerido
                            </span>
                        </div>

                    </div>
                    <div class=" mb-3 ">
                        <label class="form-label ">Dirección</label>
                        <input class="form-control " type="text " matInput formControlName="address" [class]="isValidField('address')">
                        <div class="invalid-feedback">
                            <span *ngIf="myForm.get('address').errors ?.required">
                                Campo requerido
                            </span>
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating">
                        <label for="floatingTextarea">Información del emprendedor</label>
                        <textarea class="form-control" rows="15" matInput formControlName="detail" [class]="isValidField('detail')"></textarea>
                        <div class="invalid-feedback">
                            <span *ngIf="myForm.get('detail').errors ?.required">
                                Campo requerido
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault ">
                        <label class="form-check-label" for="flexCheckDefault ">
                        By cheking this box and submitting your information. you are granting you us permission to email you. You may unsuscribe at any time.
                        </label>
                    </div>
                </div>

                <div class="col-12 ">
                    <br>
                    <button type="submit " class="btn btn-color " (click)="guardarEmprendedor() ">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>