<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="text-light nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="text-light nav-link" href="#">Emprendedores</a>
                    </li>
                    <li class="nav-item active">
                        <a class="text-light nav-link" href="#">Bogotá-e</a>
                    </li>
                    <li class="nav-item active">
                        <a class="text-light nav-link" href="#">Equipo</a>
                    </li>
                    <li class="nav-item active">
                        <a class="text-light nav-link" href="#">Contacto</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <label class="text-light mr-sm-2" aria-label="Search"> Bogotá-e</label>
                </form>
            </div>
        </nav>
        <hr class="mt-2 mb-3" />


        <div class="row">
            <div class="text-info col-6">
                <h6 class="text-white"> Secretaría Distrital de Desarrollo Economico de Bogotá D.C.</h6>
                <p class="text-white">Carrera 60 No. 63A - 52</p>
                <a href="#"><u>contactenos@desarrolloeconomico.gov.co</u></a>
            </div>
            <div class="text-info col-6">
                <h6 class="text-white">Preguntas frecuentes</h6>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur </p>

            </div>
        </div>
    </div>
    <br>
    <!-- Copyright -->
    <div class="icons col-12">
        <div class="row">
            <div class="col-2 mt-2">
                <u>Sitemap</u>
            </div>
            <div class="col-8 text-right mt-2">
                Nuestras redes
            </div>
            <div class="icons-space col-2">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a href="http://facebook.com" target="_blank" class="nav-link"> <img src="https://img.icons8.com/material-outlined/24/000000/facebook.png" /></a>
                            </li>
                            <li class="nav-item active">
                                <a href="http://twitter.com" target="_blank" class="nav-link"> <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" /></a>
                            </li>
                            <li class="nav-item active">
                                <a href="http://instagram.com" target="_blank" class="nav-link"> <img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png" /></a>
                            </li>
                            <li class="nav-item active">
                                <a href="http://youtube.com" target="_blank" class="nav-link"><img src="https://img.icons8.com/material-rounded/24/000000/youtube.png" /></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->